* {
  margin: 0;
  padding: 0;
  font-family: FontRegular, sans-serif;
}

.navbar {
  width: 100vw;
  border-bottom: 2px solid black;
}

.navbar .burger {
  width: 100%;
  height: 50px;
  background-color: white;
}

.navbar .burger h1 {
  color: black;
  font-size: 44px;
  padding-left: 10px;
  display: inline-block;
}

.navbar .burger h1 a {
  text-decoration: none;
}

.navbar .burger h1 a span {
  color: #539701;
}

.navbar .burger h1 a:link,
.navbar .burger h1 a:visited {
  color: black;
}

.navbar .burger .burger-button {
  float: right;
  margin-right: 10px;
}

.navbar .burger .burger-menu-opened {
  background-color: #1c1c1c;
  display: block;
  width: 100vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 60vh;
  position: absolute;
  top: 50px;
  z-index: 2;
}

.navbar .burger .burger-menu-opened ul {
  width: 100vw;
}

.navbar .burger .burger-menu-opened ul li {
  padding: 15px 25px;
  list-style-type: none;
  border-bottom: #323232 1px dotted;
}

.navbar .burger .burger-menu-opened ul li a {
  color: white;
  font-size: 20px;
  padding-right: 50vw;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar .burger .burger-menu-closed {
  display: none;
  position: fixed;
  top: 0px;
  right: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .nav {
  display: none;
}

.pool {
  min-height: 50vh;
  width: 100vw;
}

.pool .pool-top {
  width: 100vw;
  height: 25vh;
  background-image: url(https://res.cloudinary.com/dsdaneoq8/image/upload/v1620325405/domy/poolmain_uwzohf.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pool .pool-top h1 {
  text-align: center;
  position: relative;
  top: 20vh;
  background-color: #539701;
  font-size: 22px;
  font-weight: 700;
  display: none;
}

.pool .pool-middle {
  max-width: 800px;
  min-height: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.pool .pool-middle h2 {
  margin: 5vh auto;
  width: 100%;
  text-align: center;
}

.pool .pool-middle .pool-type {
  width: 90vw;
  height: 60vh;
  overflow: hidden;
  max-width: 380px;
  margin: 0vh auto 5vh;
}

.pool .pool-middle .pool-type img {
  height: 100%;
  width: 100%;
}

.pool .pool-middle .pool-type h1 {
  font-size: 35px;
  position: relative;
  top: -55vh;
  width: 100%;
  background-color: #1c1c1c;
  color: #bcbcbc;
  height: 50px;
  padding-top: 10px;
  max-width: 380px;
  text-align: center;
}

.pool .pool-middle .pool-type p {
  height: 14vh;
  position: relative;
  top: -28vh;
  color: white;
  font-size: 20px;
  text-align: justify;
  font-weight: 700;
  background-color: rgba(28, 28, 28, 0.6);
  max-width: 380px;
  padding: 10px;
}

.pool .pool-middle .contact-middle {
  max-width: 1200px;
  margin: 3vh auto;
  padding: 10px;
}

.pool .pool-middle .contact-middle h3 {
  text-align: center;
}

.pool .pool-middle .contact-middle .contact-form {
  margin: 5vh auto;
  text-align: center;
}

.pool .pool-middle .contact-middle .contact-form label {
  display: block;
  margin-top: 30px;
  font-size: 18px;
}

.pool .pool-middle .contact-middle input {
  height: 35px;
  font-size: 20px;
  width: 250px;
  margin-top: 10px;
  border-radius: 10px;
  border: #bcbcbc 1px solid;
}

.pool .pool-middle .contact-middle .form-error {
  color: #e1251b;
  text-align: center;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.pool .pool-middle .contact-middle button {
  margin: 3vh auto;
  color: white;
  background-color: #539701;
  font-size: 15px;
  width: 200px;
  display: block;
  height: 40px;
}

.pool .pool-bottom {
  min-height: 40vh;
  width: 100vw;
  margin: 0 auto 5vh;
  max-width: 1200px;
}

.pool .pool-bottom .award {
  width: 90vw;
  max-width: 600px;
  margin: 5vh auto;
}

.pool .pool-bottom .award img {
  width: 100%;
}

.pool .pool-bottom .award h1 {
  text-align: center;
  margin-top: 3vh;
}

.pool .pool-bottom .award h3,
.pool .pool-bottom .award p {
  margin-top: 2vh;
  text-align: justify;
}

.fourOhFour {
  min-height: 40vh;
  padding: 15px;
}

.fourOhFour h2 {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.fourOhFour p {
  text-align: center;
}

.fourOhFour p a {
  font-size: 23px;
  color: #539701;
}

.fourOhFour p a:visited {
  color: #539701;
}

.gardens {
  min-height: 100vh;
  width: 100vw;
  max-width: 1920px;
}

.gardens h1 {
  text-align: center;
  margin: 3vh 0 5vh;
}

.gardens p {
  margin: 0 auto 2vh;
  text-align: center;
}

.gardens .gardens-slide {
  width: 100vw;
  height: 30vh;
  margin-bottom: 3vh;
}

.gardens .gardens-slide img {
  width: 100vw;
  height: 30vh;
}

.gardens .gardens-slide .gardens-slide-content {
  position: relative;
  top: -260px;
  height: 85%;
  width: 85%;
  margin: auto;
  background-color: rgba(240, 240, 240, 0.8);
  padding: 15px;
}

.gardens .gardens-slide .gardens-slide-content h1 {
  text-align: center;
  margin: 3vh auto;
}

.gardens .gardens-slide .gardens-slide-content p {
  margin: 5px auto;
}

.gardens .gardens-slide .gardens-slide-content a {
  text-decoration: none;
}

.gardens .gardens-slide .gardens-slide-content a button {
  margin: 2vh auto;
  font-size: 15px;
  color: white;
  background-color: #539701;
  width: 200px;
  display: block;
  height: 40px;
}

.gardens .gardens-slide .gardens-slide-content a a:visited {
  color: white;
}

.gardens h2 {
  margin: 5vh auto 1vh;
  text-align: center;
}

.gardens .garden-images {
  min-height: 60vh;
  width: 100vw;
  text-align: center;
  margin-bottom: 4vh;
}

.gardens .garden-images .thumbnail {
  width: 90vw;
  height: 30vh;
  margin: 0 auto;
}

.gardens .garden-images .gallery-large-image {
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  position: fixed;
  top: 25vh;
  left: 0;
  z-index: 10;
  width: 100vw;
}

.gardens .garden-images .gallery-large-image .gallery-opened-large-image {
  width: 100vw;
  height: 50vh;
}

.contact h1 {
  margin: 3vh auto 5vh;
  text-align: center;
}

.contact h1:after {
  content: "";
  display: block;
  position: absolute;
  left: 45vw;
  width: 90px;
  height: 0.4rem;
  background: #539701;
}

.contact .contact-top {
  padding: 10px;
  background-color: #f9f6f6;
}

.contact .contact-top h2 {
  margin: 2vh auto;
  text-align: center;
}

.contact .contact-top .contact-top-content {
  margin: 3vh auto;
  max-width: 1200px;
}

.contact .contact-top .contact-top-content div {
  width: 200px;
  max-width: 350px;
  margin: 2vh auto;
  text-align: center;
}

.contact .contact-top .contact-top-content div img {
  width: 50px;
}

.contact .contact-top .contact-top-content div h3 {
  margin: 1vh auto 2vh;
  color: #539701;
}

.contact .contact-middle {
  max-width: 1200px;
  margin: 3vh auto;
  padding: 10px;
}

.contact .contact-middle h3 {
  text-align: center;
}

.contact .contact-middle .contact-form {
  margin: 5vh auto;
  text-align: center;
}

.contact .contact-middle .contact-form label {
  display: block;
  margin-top: 30px;
  font-size: 18px;
}

.contact .contact-middle input {
  height: 35px;
  font-size: 20px;
  width: 250px;
  margin-top: 10px;
  border-radius: 10px;
  border: #bcbcbc 1px solid;
}

.contact .contact-middle .form-error {
  color: #e1251b;
  text-align: center;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.contact .contact-middle button {
  margin: 3vh auto;
  color: white;
  background-color: #539701;
  font-size: 15px;
  width: 200px;
  display: block;
  height: 40px;
}

.contact .contact-bottom {
  min-height: 120vh;
  width: 100vw;
  margin: 0 auto;
}

.contact .contact-bottom .contact-bottom-map {
  margin: 2vh 0;
  width: 100vw;
  height: 40vh;
  max-width: 400px;
}

.contact .contact-bottom .contact-bottom-info {
  margin: 3vh auto;
  padding: 0 15vw;
  text-align: center;
}

.contact .contact-bottom .contact-bottom-info h2 {
  margin-bottom: 4vh;
}

.contact .contact-bottom .contact-bottom-info img {
  display: inline-block;
}

.contact .contact-bottom .contact-bottom-info p {
  margin-left: 10px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  top: -8px;
}

.home .home-top {
  text-align: center;
  width: 100vw;
  height: 25vh;
  background-image: url("https://res.cloudinary.com/dsdaneoq8/image/upload/v1619390571/domy/home-background_tihykm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home .home-top p {
  display: none;
  margin-top: 10vh;
  color: #e6e6e6;
}

.home .home-middle {
  min-height: 40vh;
  padding: 10px;
}

.home .home-middle h1 {
  color: #f3f3f3;
  font-size: 30px;
  margin-top: 3vh;
}

.home .home-middle h2 {
  font-size: 25px;
  margin-top: 1vh;
  margin-bottom: 2vh;
  color: black;
}

.home .home-middle .home-presentation div {
  margin: 5px auto;
  width: 300px;
  max-width: 320px;
}

.home .home-middle .home-presentation div img {
  width: 100%;
  height: 20vh;
}

.home .home-middle .home-presentation div div {
  text-align: center;
  position: relative;
  width: 80%;
  top: -50px;
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 2px 6px 0px grey;
          box-shadow: 0px 2px 6px 0px grey;
}

.home .home-middle .home-presentation div div img {
  width: 120px;
  height: 60px;
}

.home .home-middle .home-presentation div div h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px;
}

.home .home-middle .home-presentation div div a {
  text-align: center;
  color: #539701;
}

.home .home-middle .home-presentation div div a:visited {
  color: #539701;
}

.home .home-bottom {
  min-height: 40vh;
}

.home .home-bottom .home-bottom-stripe {
  background-color: #1c1c1c;
  padding: 15px;
  padding-top: 35px;
  padding-bottom: 90px;
  color: white;
}

.home .home-bottom .home-bottom-stripe h2 {
  font-size: 20px;
}

.home .home-bottom .home-bottom-stripe .home-bottom-text-paragraph {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home .home-bottom .home-bottom-stripe .home-bottom-text-paragraph h3 {
  font-size: 50px;
  margin-bottom: 2vh;
}

.home .home-bottom .home-bottom-stripe .home-bottom-text-paragraph p {
  font-size: 16px;
  margin-bottom: 1vh;
}

.home .home-bottom .home-bottom-stripe .home-bottom-text-paragraph p:first-of-type {
  font-weight: 700;
  text-transform: uppercase;
}

.home .home-bottom .home-bottom-stripe .home-bottom-text-paragraph:first-of-type h3 {
  padding-top: 3vh;
}

.home .home-bottom img {
  width: 90%;
  position: relative;
  top: -114px;
  left: 5%;
  margin: 0 auto;
}

.home .home-bottom .home-bottom-last {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  top: -90px;
}

.home .home-bottom .home-bottom-last h1 {
  color: #f3f3f3;
  font-weight: 700;
  font-size: 50px;
}

.home .home-bottom .home-bottom-last .home-bottom-last-p {
  text-align: center;
}

.home .home-bottom .home-bottom-last .home-bottom-last-p h1 {
  color: #f3f3f3;
  font-weight: 700;
}

.home .home-bottom .home-bottom-last .home-bottom-last-p h2 {
  margin: 2vh 0;
  text-align: center;
}

.home .home-bottom .home-bottom-last .home-bottom-last-p p {
  text-align: justify;
}

.error-message {
  margin: 5vh auto;
  height: 20vh;
  color: #850808;
}

.loading-wrapper {
  width: 100vw;
  height: 30vh;
}

.loading-wrapper:after {
  content: "";
  border: 14px solid #bcbcbc;
  border-radius: 50%;
  border-top: 14px solid #539701;
  width: 70px !important;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  display: block;
  position: absolute !important;
  left: 40vw;
  margin-top: 5vh;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.terms {
  padding: 5vh 5vw;
}

.terms h2,
.terms h3 {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.terms p {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.terms ul li {
  margin-top: 1vh;
}

.terms {
  background-color: #fafafa;
  padding: 5vw 10vw;
}

.terms .terms-content {
  max-width: 1200px;
  margin: 0 auto;
}

.garden-info,
.wood-info,
.pergolas {
  min-height: 50vh;
  text-align: center;
}

.garden-info h1,
.garden-info h2,
.wood-info h1,
.wood-info h2,
.pergolas h1,
.pergolas h2 {
  margin: 5vh auto 0;
  max-width: 350px;
}

.garden-info p,
.wood-info p,
.pergolas p {
  margin: 3vh auto 5vh;
  max-width: 350px;
}

.garden-info .gallery,
.wood-info .gallery,
.pergolas .gallery {
  width: 100vw;
  text-align: center;
  margin: 5vh auto 4vh;
}

.garden-info .gallery .thumbnail,
.wood-info .gallery .thumbnail,
.pergolas .gallery .thumbnail {
  width: 90vw;
  height: 30vh;
  margin: 0 auto;
}

.garden-info .gallery .gallery-large-image,
.wood-info .gallery .gallery-large-image,
.pergolas .gallery .gallery-large-image {
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  position: fixed;
  top: 25vh;
  left: 0;
  z-index: 10;
  width: 100vw;
}

.garden-info .gallery .gallery-large-image .gallery-opened-large-image,
.wood-info .gallery .gallery-large-image .gallery-opened-large-image,
.pergolas .gallery .gallery-large-image .gallery-opened-large-image {
  width: 100vw;
  height: 50vh;
}

.house-details .image-carousel {
  height: 40vh;
}

.house-details .image-carousel .large-image {
  height: 25vh;
  width: 100vw;
}

.house-details .image-carousel .rest-of-house-images {
  margin-top: 5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.house-details .image-carousel .rest-of-house-images img {
  height: 10vh;
  width: 22vw;
}

.house-details .house-details-info {
  margin-top: 5 vh;
}

.house-details .house-details-middle {
  margin-bottom: 5vh;
  text-align: center;
}

.house-details .house-details-middle h2 {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.house-details .house-details-middle h2:after {
  content: "";
  position: absolute;
  bottom: 20.75rem;
  left: 7rem;
  width: 10rem;
  height: 0.4rem;
  background: #539701;
}

.house-details .house-details-middle h3 {
  margin-bottom: 3vh;
}

.house-details .house-details-middle p {
  margin-bottom: 3vh;
}

.pergolas {
  width: 100vw;
  max-width: 1200px;
  text-align: center;
}

.pergolas .pergola-type {
  margin-bottom: 5vh;
}

.pergolas .pergola-type .main-image-part {
  height: 30vh;
  width: 100vw;
  text-align: left;
}

.pergolas .pergola-type .main-image-part img {
  height: 100%;
  width: 100%;
}

.pergolas .pergola-type .main-image-part h1 {
  position: relative;
  top: -15vh;
  color: white;
  left: 10px;
  background-color: black;
  display: inline;
}

.pergolas .pergola-type .pergola-type-content {
  width: 90vw;
  margin: 5vh auto;
}

.pergolas .pergola-type .pergola-type-content h1 {
  margin: 2vh auto 4vh;
}

.pergolas .pergola-type .pergola-type-content p {
  margin: 5vh auto;
}

.houses {
  width: 100vw;
}

.houses h1 {
  font-size: 28px;
  margin: 5vh auto;
  max-width: 90vw;
  text-align: center;
}

.houses .filter-and-sort {
  width: 100vw;
  background-color: #efefef;
  text-align: center;
}

.houses .filter-and-sort .filter h3 {
  margin-bottom: 2vh;
  padding-top: 2vh;
  font-size: 20px;
}

.houses .filter-and-sort .filter span {
  margin-right: 10px;
  font-size: 18px;
}

.houses .filter-and-sort .filter span input {
  height: 18px;
  width: 18px;
  margin-left: 4px;
  position: relative;
  top: 3px;
}

.houses .filter-and-sort .sort {
  margin-bottom: 2vh;
  margin-top: 2vh;
  padding-bottom: 2vh;
}

.houses .filter-and-sort .sort h3 {
  padding-bottom: 2vh;
  font-size: 20px;
}

.houses .filter-and-sort .sort .sort-buttons .sort-button {
  background-color: white;
  margin-right: 5px;
  font-size: 17px;
  border-radius: 5px;
  padding: 5px;
}

.houses .filter-and-sort .sort .sort-buttons .active-sort-button {
  color: white;
  background-color: #539701;
  margin-right: 5px;
  font-size: 17px;
  border-radius: 5px;
  padding: 5px;
}

.houses .show-per-page-picker {
  position: relative;
  top: 5px;
  left: 30vw;
  display: inline;
  font-size: 18px;
}

.houses .show-per-page-picker span {
  margin-left: 5px;
}

.houses .show-per-page-picker span.picked {
  margin-left: 5px;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 650;
  color: #539701;
}

.houses .browse-wrapper .browse-houses {
  margin: 5vh auto;
}

.houses .browse-wrapper .browse-houses .single-browse-house {
  margin: 0 auto 5vh;
  width: 90vw;
}

.houses .browse-wrapper .browse-houses .single-browse-house h2 {
  text-align: center;
  margin-bottom: 2vh;
}

.houses .browse-wrapper .browse-houses .single-browse-house .main-house-image {
  width: 90vw;
}

.houses .browse-wrapper .browse-houses .single-browse-house .single-browse-house-details {
  border: 1px solid #bcbcbc;
  border-top: none;
  padding: 10px;
}

.houses .browse-wrapper .browse-houses .single-browse-house .single-browse-house-details .rooms-and-bills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.houses .browse-wrapper .browse-houses .single-browse-house .single-browse-house-details .rooms-and-bills div h4 {
  margin-bottom: 10px;
}

.houses .browse-wrapper .browse-houses .single-browse-house .single-browse-house-details .rooms-and-bills div img {
  width: 30px;
}

.houses .browse-wrapper .browse-houses .single-browse-house .single-browse-house-details .rooms-and-bills div p {
  display: inline-block;
  position: relative;
  top: -5px;
  margin-bottom: 2vh;
}

.houses .browse-wrapper .browse-houses .single-browse-house .single-browse-house-details .browse-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.houses .browse-wrapper .browse-houses .single-browse-house .single-browse-house-details .browse-prices h4 {
  margin-bottom: 10px;
}

.houses .browse-wrapper .browse-houses .single-browse-house .single-browse-house-details .browse-prices p {
  margin-bottom: 2vh;
}

.houses .browse-wrapper .browse-houses .single-browse-house .single-browse-house-details .pick-a-house-button {
  color: white;
  background-color: #539701;
  font-size: 17px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px auto;
  position: relative;
  left: 30%;
}

.houses .browse-wrapper .pagination-buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.houses .browse-wrapper .pagination-buttons button {
  font-size: 16px;
  height: 45px;
  width: 45px;
  margin-bottom: 5vh;
  font-weight: 650;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 1px 2px 3px 1px #000;
          box-shadow: 1px 2px 3px 1px #000;
  letter-spacing: 0.1rem;
  margin-left: 5px;
  background-color: white;
  border: none;
}

.houses .browse-wrapper .pagination-buttons .selected-pagination-button {
  color: whitesmoke;
  background-color: #539701;
}

.footer {
  width: 100vw;
  color: #bcbcbc;
  background-color: #1c1c1c;
  text-align: justify;
  padding-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer h2 {
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0 15px;
}

.footer .footer-form {
  padding: 0 15px;
  margin-bottom: 5vh;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.footer .footer-form h3 {
  text-align: center;
  color: #539701;
}

.footer .footer-form label {
  display: inline-block;
  position: relative;
  top: -4px;
  font-size: 18px;
}

.footer .footer-form label a {
  color: #bcbcbc;
}

.footer .footer-form label a:visited {
  color: #bcbcbc;
}

.footer .footer-form input {
  height: 35px;
  background-color: #323232;
  font-size: 20px;
  color: white;
  width: 70%;
  margin-top: 10px;
}

.footer .footer-form .form-error {
  color: #e1251b;
  text-align: left;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.footer .footer-form button {
  height: 35px;
  color: white;
  background-color: #539701;
  font-size: 15px;
  border: none;
  float: right;
  width: 29%;
  position: relative;
  top: 10px;
  max-width: 120px;
}

.footer .footer-links {
  border-top: 1px solid #bcbcbc;
  text-align: justify;
  font-family: '"Raleway",sans-serif';
  padding-bottom: 10vh;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("https://res.cloudinary.com/dsdaneoq8/image/upload/v1619390570/domy/footer-image_vmnkt5.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 5vh;
  z-index: 1;
}

.footer .footer-links .footer-links-group {
  margin-bottom: 4vh;
  width: 230px;
}

.footer .footer-links .footer-links-group h3 {
  font-size: 1.4rem;
  position: relative;
  margin-bottom: 3vh;
}

.footer .footer-links .footer-links-group h3:after {
  content: "";
  position: absolute;
  bottom: -1.25rem;
  left: 1rem;
  width: 10rem;
  height: 0.4rem;
  background: #539701;
}

.footer .footer-links .footer-links-group div {
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
}

.footer .footer-links .footer-links-group div a {
  text-decoration: none;
  color: white;
}

.footer .footer-links .footer-links-group div a:visited {
  color: white;
}

@media (min-width: 640px) {
  .footer .footer-content h2 {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .footer-content .footer-form {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .home .home-top {
    height: 40vh;
  }
  .home .home-middle {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .home .home-middle h1 {
    font-size: 130px;
    margin: 0;
    text-align: center;
  }
  .home .home-middle h2 {
    text-align: center;
    font-size: 35px;
    position: relative;
    top: -100px;
  }
  .home .home-middle .home-presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    top: -50px;
  }
  .home .home-middle .home-presentation div {
    max-width: 620px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (min-width: 768px) {
  .contact {
    max-width: 1920px;
  }
  .contact .contact-top .contact-top-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact .contact-top .contact-top-content div h3 {
    font-size: 23px;
  }
  .contact .contact-top .contact-top-content div p {
    font-size: 20px;
  }
  .contact .contact-middle h3 {
    font-size: 22px;
  }
  .contact .contact-middle input {
    width: 350px;
  }
  .pool .pool-top {
    height: 40vh;
  }
  .pool .pool-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .pool .pool-middle .contact-middle h3 {
    font-size: 22px;
  }
  .pool .pool-middle .contact-middle input {
    width: 350px;
  }
  .pool .pool-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1200px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .pool .pool-bottom .award {
    max-width: 400px;
    margin: 5vh auto;
  }
  .gardens .gardens-slide {
    height: 60vh;
  }
  .gardens .gardens-slide img {
    height: 60vh;
  }
  .gardens .gardens-slide .gardens-slide-content {
    height: 25vh;
    width: 60vw;
  }
  .gardens .garden-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gardens .garden-images .thumbnail {
    width: 50vw;
  }
  .gardens .garden-images .gallery-opened-large-image {
    height: 55vh;
  }
  .loading-wrapper:after {
    left: 45vw;
  }
  .navbar .burger {
    display: none;
  }
  .navbar .nav {
    height: 70px;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .nav h1 {
    display: inline-block;
    padding-left: 20px;
  }
  .navbar .nav h1 a {
    text-decoration: none;
  }
  .navbar .nav h1 a span {
    color: #539701;
  }
  .navbar .nav h1 a:link,
  .navbar .nav h1 a:visited {
    color: black;
  }
  .navbar .nav ul {
    display: inline;
    width: 600px;
  }
  .navbar .nav ul li {
    display: inline;
    padding-bottom: 10px;
  }
  .navbar .nav ul li a {
    text-decoration: none;
    width: 100px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 15px;
  }
  .navbar .nav ul li a:link,
  .navbar .nav ul li a:visited {
    color: black;
  }
  .navbar .nav ul li:hover {
    border-bottom: #539701 solid 3px;
  }
  .home .home-bottom .home-bottom-stripe {
    padding-bottom: 300px;
  }
  .home .home-bottom .home-bottom-stripe h2 {
    text-align: center;
  }
  .home .home-bottom img {
    top: -290px;
    width: 100%;
    left: 0;
  }
  .home .home-bottom .home-bottom-last {
    top: -200px;
  }
  .home .home-bottom .home-bottom-last h1 {
    text-align: center;
    font-size: 50px;
  }
  .home .home-bottom .home-bottom-last h2 {
    text-align: center;
  }
  .home .home-bottom .home-bottom-last .home-bottom-last-p {
    padding: 15px;
  }
  .home .home-bottom .home-bottom-last .home-bottom-last-p h2 {
    font-size: 30px;
    margin: 1vh 0 3vh;
    margin: 0 auto;
  }
  .home .home-bottom .home-bottom-last .home-bottom-last-p p {
    margin: 0 auto;
    max-width: 500px;
  }
  .houses .filter-and-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .houses .show-per-page-picker {
    left: 62vw;
  }
  .houses .browse-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .houses .browse-wrapper .browse-houses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .houses .browse-wrapper .browse-houses .single-browse-house {
    width: 380px;
  }
  .houses .browse-wrapper .browse-houses .single-browse-house .main-house-image {
    width: 380px;
  }
  .house-details .image-carousel {
    height: 80vh;
  }
  .house-details .image-carousel .large-image {
    height: 65vh;
    width: 100vw;
  }
  .house-details .image-carousel .rest-of-house-images {
    margin: 1px;
  }
  .house-details .image-carousel .rest-of-house-images img {
    height: 15vh;
    width: 24vw;
  }
  .pergolas .pergola-type .main-image-part {
    height: 40vh;
  }
  .pergolas .pergola-type .main-image-part h1 {
    left: 10vw;
  }
  .garden-info h1,
  .garden-info h2,
  .garden-info p,
  .wood-info h1,
  .wood-info h2,
  .wood-info p,
  .pergolas h1,
  .pergolas h2,
  .pergolas p {
    max-width: 700px;
  }
  .garden-info .gallery,
  .wood-info .gallery,
  .pergolas .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .garden-info .gallery .thumbnail,
  .wood-info .gallery .thumbnail,
  .pergolas .gallery .thumbnail {
    width: 50vw;
  }
  .garden-info .gallery .gallery-opened-large-image,
  .wood-info .gallery .gallery-opened-large-image,
  .pergolas .gallery .gallery-opened-large-image {
    height: 55vh;
  }
}

@media (min-width: 1000px) {
  .garden-info .gallery,
  .wood-info .gallery,
  .pergolas .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .garden-info .gallery .thumbnail,
  .wood-info .gallery .thumbnail,
  .pergolas .gallery .thumbnail {
    width: 25vw;
  }
  .garden-info .gallery .gallery-large-image,
  .wood-info .gallery .gallery-large-image,
  .pergolas .gallery .gallery-large-image {
    height: 90vh;
    z-index: 10;
    width: 80vw;
    top: 5vh;
    left: 10vw;
  }
  .garden-info .gallery .gallery-large-image .gallery-opened-large-image,
  .wood-info .gallery .gallery-large-image .gallery-opened-large-image,
  .pergolas .gallery .gallery-large-image .gallery-opened-large-image {
    height: 100%;
    width: 100%;
  }
  .pergolas .pergola-type .main-image-part {
    height: 75vh;
  }
  .home {
    overflow: hidden;
  }
  .home .home-top {
    height: 75vh;
  }
  .home .home-middle .home-presentation div img {
    width: 80%;
    height: 20vh;
    margin-left: 10%;
  }
  .home .home-middle .home-presentation div div {
    width: 60%;
  }
  .home .home-bottom {
    height: 100vh;
  }
  .home .home-bottom .home-bottom-stripe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 40vw;
    padding-bottom: 0;
  }
  .home .home-bottom .home-bottom-stripe h2 {
    position: absolute;
    max-width: 60vw;
  }
  .home .home-bottom .home-bottom-stripe .home-bottom-text-paragraph {
    margin-top: 10vh;
  }
  .home .home-bottom .home-bottom-stripe .home-bottom-text-paragraph:first-of-type h3 {
    padding-top: 0;
  }
  .home .home-bottom img {
    width: 710px;
    position: relative;
    left: 50vw;
    top: -305px;
  }
  .home .home-bottom .home-bottom-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -400px;
  }
  .home .home-bottom .home-bottom-last h1 {
    position: absolute;
    left: 30px;
  }
  .home .home-bottom .home-bottom-last h2 {
    position: absolute;
    top: 75px;
    left: 30px;
  }
  .home .home-bottom .home-bottom-last .home-bottom-last-p {
    margin-top: 10vh;
  }
  .home .home-bottom .home-bottom-last .home-bottom-last-p h1 {
    position: relative;
  }
  .home .home-bottom .home-bottom-last .home-bottom-last-p h2 {
    position: relative;
    margin: 2vh 0;
    top: 0;
  }
  .home .home-bottom .home-bottom-last .home-bottom-last-p p {
    max-width: 400px;
  }
  .gardens .gardens-slide {
    max-width: 1200px;
    height: 70vh;
    margin: 0 auto 3vh;
  }
  .gardens .gardens-slide img {
    height: 70vh;
    max-width: 1200px;
  }
  .gardens .gardens-slide .gardens-slide-content {
    height: 25vh;
    max-width: 600px;
  }
  .gardens .garden-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gardens .garden-images .thumbnail {
    width: 25vw;
  }
  .gardens .garden-images .gallery-large-image {
    height: 90vh;
    z-index: 10;
    width: 80vw;
    top: 5vh;
    left: 10vw;
  }
  .gardens .garden-images .gallery-large-image .gallery-opened-large-image {
    height: 100%;
    width: 100%;
  }
  .pool {
    overflow: hidden;
  }
  .pool .pool-top {
    height: 75vh;
  }
}

@media (min-width: 1500px) {
  .home .home-bottom img {
    width: 900px;
  }
}
/*# sourceMappingURL=styles.css.map */