$Raleway: '"Raleway",sans-serif';
$footer-grey: #bcbcbc;
$primary-green: #539701;
$primary-brown: #1c1c1c;
$primary-dark-grey: #323232;

* {
  margin: 0;
  padding: 0;
  font-family: FontRegular, sans-serif;
}

// navbar
// MOBIL
.navbar {
  width: 100vw;
  border-bottom: 2px solid black;
  .burger {
    width: 100%;
    height: 50px;
    background-color: white;
    h1 {
      color: black;
      font-size: 44px;
      padding-left: 10px;
      display: inline-block;
      a {
        text-decoration: none;
        span {
          color: $primary-green;
        }
      }
      a:link,
      a:visited {
        color: black;
      }
    }
    .burger-button {
      float: right;
      margin-right: 10px;
    }
    .burger-menu-opened {
      background-color: $primary-brown;
      display: block;
      width: 100vw;
      transition: 0.5s;
      height: 60vh;
      position: absolute;
      top: 50px;
      z-index: 2;
      ul {
        width: 100vw;
        li {
          padding: 15px 25px;
          list-style-type: none;
          border-bottom: $primary-dark-grey 1px dotted;
          a {
            color: white;
            font-size: 20px;
            padding-right: 50vw;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
    }
    .burger-menu-closed {
      display: none;
      position: fixed;
      top: 0px;
      right: 100vh;
      transition: 0.5s;
    }
  }

  .nav {
    display: none;
  }
}

// pool
// MOBIL
.pool {
  min-height: 50vh;
  width: 100vw;

  .pool-top {
    width: 100vw;
    height: 25vh;
    background-image: url(https://res.cloudinary.com/dsdaneoq8/image/upload/v1620325405/domy/poolmain_uwzohf.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h1 {
      text-align: center;
      position: relative;
      top: 20vh;
      background-color: #539701;
      font-size: 22px;
      font-weight: 700;
      display: none;
    }
  }
  .pool-middle {
    max-width: 800px;
    min-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    h2 {
      margin: 5vh auto;
      width: 100%;
      text-align: center;
    }
    .pool-type {
      width: 90vw;
      height: 60vh;
      overflow: hidden;
      max-width: 380px;
      margin: 0vh auto 5vh;

      img {
        height: 100%;
        width: 100%;
      }
      h1 {
        font-size: 35px;
        position: relative;
        top: -55vh;
        width: 100%;
        background-color: #1c1c1c;
        color: #bcbcbc;
        height: 50px;
        padding-top: 10px;
        max-width: 380px;
        text-align: center;
      }
      p {
        height: 14vh;
        position: relative;
        top: -28vh;
        color: white;
        font-size: 20px;
        text-align: justify;
        font-weight: 700;
        background-color: rgba(28, 28, 28, 0.6);
        max-width: 380px;
        padding: 10px;
      }
    }
    .contact-middle {
      max-width: 1200px;
      margin: 3vh auto;
      padding: 10px;
      h3 {
        text-align: center;
      }
      .contact-form {
        margin: 5vh auto;
        text-align: center;
        label {
          display: block;
          margin-top: 30px;
          font-size: 18px;
        }
      }

      input {
        height: 35px;
        font-size: 20px;
        width: 250px;
        margin-top: 10px;
        border-radius: 10px;
        border: $footer-grey 1px solid;
      }

      .form-error {
        color: #e1251b;
        text-align: center;
        margin: 5px 0;
        font-size: 15px;
        font-weight: 600;
      }

      button {
        margin: 3vh auto;
        color: white;
        background-color: #539701;
        font-size: 15px;
        width: 200px;
        display: block;
        height: 40px;
      }
    }
  }
  .pool-bottom {
    min-height: 40vh;
    width: 100vw;
    margin: 0 auto 5vh;
    max-width: 1200px;

    .award {
      width: 90vw;
      max-width: 600px;
      margin: 5vh auto;
      img {
        width: 100%;
      }
      h1 {
        text-align: center;
        margin-top: 3vh;
      }
      h3,
      p {
        margin-top: 2vh;
        text-align: justify;
      }
    }
  }
}

// 404
// mobil
.fourOhFour {
  min-height: 40vh;
  padding: 15px;
  h2 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  p {
    text-align: center;
    a {
      font-size: 23px;
      color: $primary-green;
    }
    a:visited {
      color: $primary-green;
    }
  }
}
// gardens
// MOBIL
.gardens {
  min-height: 100vh;
  width: 100vw;
  max-width: 1920px;
  h1 {
    text-align: center;
    margin: 3vh 0 5vh;
  }
  p {
    margin: 0 auto 2vh;
    text-align: center;
  }
  .gardens-slide {
    width: 100vw;
    height: 30vh;
    margin-bottom: 3vh;
    img {
      width: 100vw;
      height: 30vh;
    }
    .gardens-slide-content {
      position: relative;
      top: -260px;
      height: 85%;
      width: 85%;
      margin: auto;
      background-color: rgba(240, 240, 240, 0.8);
      padding: 15px;

      h1 {
        text-align: center;
        margin: 3vh auto;
      }
      p {
        margin: 5px auto;
      }
      a {
        text-decoration: none;
        button {
          margin: 2vh auto;
          font-size: 15px;
          color: white;
          background-color: #539701;
          width: 200px;
          display: block;
          height: 40px;
        }
        a:visited {
          color: white;
        }
      }
    }
  }
  h2 {
    margin: 5vh auto 1vh;
    text-align: center;
  }
  .garden-images {
    min-height: 60vh;
    width: 100vw;
    text-align: center;
    margin-bottom: 4vh;

    .thumbnail {
      width: 90vw;
      height: 30vh;
      margin: 0 auto;
    }
    .gallery-large-image {
      box-shadow: 0 8px 6px -6px black;
      position: fixed;
      top: 25vh;
      left: 0;
      z-index: 10;
      width: 100vw;

      .gallery-opened-large-image {
        width: 100vw;
        height: 50vh;
      }
    }
  }
}

// contact
// MOBIL
.contact {
  h1 {
    margin: 3vh auto 5vh;
    text-align: center;
  }

  h1:after {
    content: "";
    display: block;
    position: absolute;
    left: 45vw;
    width: 90px;
    height: 0.4rem;
    background: $primary-green;
  }
  .contact-top {
    padding: 10px;
    background-color: #f9f6f6;
    h2 {
      margin: 2vh auto;
      text-align: center;
    }
    .contact-top-content {
      margin: 3vh auto;
      max-width: 1200px;

      div {
        width: 200px;
        max-width: 350px;
        margin: 2vh auto;
        text-align: center;
        img {
          width: 50px;
        }
        h3 {
          margin: 1vh auto 2vh;
          color: $primary-green;
        }
      }
    }
  }
  .contact-middle {
    max-width: 1200px;
    margin: 3vh auto;
    padding: 10px;
    h3 {
      text-align: center;
    }
    .contact-form {
      margin: 5vh auto;
      text-align: center;
      label {
        display: block;
        margin-top: 30px;
        font-size: 18px;
      }
    }

    input {
      height: 35px;
      font-size: 20px;
      width: 250px;
      margin-top: 10px;
      border-radius: 10px;
      border: $footer-grey 1px solid;
    }

    .form-error {
      color: #e1251b;
      text-align: center;
      margin: 5px 0;
      font-size: 15px;
      font-weight: 600;
    }

    button {
      margin: 3vh auto;
      color: white;
      background-color: #539701;
      font-size: 15px;
      width: 200px;
      display: block;
      height: 40px;
    }
  }
  .contact-bottom {
    min-height: 120vh;
    width: 100vw;
    margin: 0 auto;
    .contact-bottom-map {
      margin: 2vh 0;
      width: 100vw;
      height: 40vh;
      max-width: 400px;
    }
    .contact-bottom-info {
      margin: 3vh auto;
      padding: 0 15vw;
      text-align: center;
      h2 {
        margin-bottom: 4vh;
      }

      img {
        display: inline-block;
      }
      p {
        margin-left: 10px;
        font-size: 22px;
        position: relative;
        display: inline-block;
        top: -8px;
      }
    }
  }
}

// home
// MOBIL
.home {
  .home-top {
    text-align: center;
    width: 100vw;
    height: 25vh;
    background-image: url("https://res.cloudinary.com/dsdaneoq8/image/upload/v1619390571/domy/home-background_tihykm.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    p {
      display: none;
      margin-top: 10vh;
      color: #e6e6e6;
    }
  }
  .home-middle {
    min-height: 40vh;
    padding: 10px;

    h1 {
      color: #f3f3f3;
      font-size: 30px;
      margin-top: 3vh;
    }
    h2 {
      font-size: 25px;
      margin-top: 1vh;
      margin-bottom: 2vh;
      color: black;
    }

    .home-presentation {
      div {
        margin: 5px auto;
        width: 300px;
        max-width: 320px;
        img {
          width: 100%;
          height: 20vh;
        }
        div {
          text-align: center;
          position: relative;
          width: 80%;
          top: -50px;
          background-color: #f8f8f8;
          padding-top: 10px;
          padding-bottom: 10px;
          box-shadow: 0px 2px 6px 0px grey;
          img {
            width: 120px;
            height: 60px;
          }
          h3 {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 3px;
          }
          a {
            text-align: center;
            color: $primary-green;
          }
          a:visited {
            color: $primary-green;
          }
        }
      }
    }
  }
  .home-bottom {
    min-height: 40vh;
    .home-bottom-stripe {
      background-color: $primary-brown;
      padding: 15px;
      padding-top: 35px;
      padding-bottom: 90px;
      color: white;
      h2 {
        font-size: 20px;
      }
      .home-bottom-text-paragraph {
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        h3 {
          font-size: 50px;
          margin-bottom: 2vh;
        }
        p {
          font-size: 16px;
          margin-bottom: 1vh;
        }
        p:first-of-type {
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
    img {
      width: 90%;
      position: relative;
      top: -114px;
      left: 5%;
      margin: 0 auto;
    }
    .home-bottom-last {
      max-width: 1200px;
      margin: 0 auto;
      padding: 10px;
      position: relative;
      top: -90px;
      margin-bottom: 5vh;
      h1 {
        color: #f3f3f3;
        font-weight: 700;
        font-size: 50px;
      }
      .home-bottom-last-p {
        text-align: center;
        h1 {
          color: #f3f3f3;
          font-weight: 700;
        }
        h2 {
          margin: 2vh 0;
          text-align: center;
        }
        p {
          text-align: justify;
        }
      }
    }
  }
}

// loading  error messages
// MOBIL
.error-message {
  margin: 5vh auto;
  height: 20vh;
  color: rgb(133, 8, 8);
}
.loading-wrapper {
  width: 100vw;
  height: 30vh;
}
.loading-wrapper:after {
  content: "";
  border: 14px solid $footer-grey;
  border-radius: 50%;
  border-top: 14px solid $primary-green;
  width: 70px !important;
  height: 70px;
  animation: spin 2s linear infinite;
  display: block;
  position: absolute !important;
  left: 40vw;
  margin-top: 5vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// terms and conditions
// MOBIL
.terms {
  padding: 5vh 5vw;
  h2,
  h3 {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  p {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  ul {
    li {
      margin-top: 1vh;
    }
  }
}

.terms {
  background-color: #fafafa;
  padding: 5vw 10vw;

  .terms-content {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.garden-info,
.wood-info,
.pergolas {
  min-height: 50vh;
  text-align: center;
  h1,
  h2 {
    margin: 5vh auto 0;
    max-width: 350px;
  }
  p {
    margin: 3vh auto 5vh;
    max-width: 350px;
  }

  // MOBIL
  .gallery {
    width: 100vw;
    text-align: center;
    margin: 5vh auto 4vh;

    .thumbnail {
      width: 90vw;
      height: 30vh;
      margin: 0 auto;
    }
    .gallery-large-image {
      box-shadow: 0 8px 6px -6px black;
      position: fixed;
      top: 25vh;
      left: 0;
      z-index: 10;
      width: 100vw;

      .gallery-opened-large-image {
        width: 100vw;
        height: 50vh;
      }
    }
  }
}

// pergolas
// MOBIL
.pergolas {
  width: 100vw;
  max-width: 1200px;
  text-align: center;
  .pergola-type {
    margin-bottom: 5vh;
    .main-image-part {
      height: 30vh;
      width: 100vw;
      text-align: left;
      img {
        height: 100%;
        width: 100%;
      }
      h1 {
        position: relative;
        top: -15vh;
        color: white;
        left: 10px;
        background-color: black;
        display: inline;
      }
    }
    .pergola-type-content {
      width: 90vw;
      margin: 5vh auto;
      h1 {
        margin: 2vh auto 4vh;
      }
      p {
        margin: 5vh auto;
      }
    }
  }
}

// houses
// MOBIL
.houses {
  width: 100vw;
  h1 {
    font-size: 28px;
    margin: 5vh auto;
    max-width: 90vw;
    text-align: center;
  }
  .filter-and-sort {
    width: 100vw;
    background-color: #efefef;
    text-align: center;
    .filter {
      h3 {
        margin-bottom: 2vh;
        padding-top: 2vh;
        font-size: 20px;
      }
      span {
        margin-right: 10px;
        font-size: 18px;
        input {
          height: 18px;
          width: 18px;
          margin-left: 4px;
          position: relative;
          top: 3px;
        }
      }
    }
    .sort {
      margin-bottom: 2vh;
      margin-top: 2vh;
      padding-bottom: 2vh;
      h3 {
        padding-bottom: 2vh;
        font-size: 20px;
      }
      .sort-button {
        margin-right: 5px;
        font-size: 17px;
        border-radius: 5px;
        padding: 5px;
      }
      .active-sort-button {
        color: white;
        background-color: $primary-green;
        margin-right: 5px;
        font-size: 17px;
        border-radius: 5px;
        padding: 5px;
      }
    }
  }

  .show-per-page-picker {
    position: relative;
    top: 5px;
    left: 30vw;
    display: inline;
    font-size: 18px;

    span {
      margin-left: 5px;
    }
    span.picked {
      margin-left: 5px;
      text-decoration: underline;
      font-size: 20px;
      font-weight: 650;
      color: $primary-green;
    }
  }
  .browse-wrapper {
    .browse-houses {
      margin: 5vh auto;
      .single-browse-house {
        margin: 0 auto 5vh;
        width: 90vw;
        h2 {
          text-align: center;
          margin-bottom: 2vh;
        }
        .main-house-image {
          width: 90vw;
        }

        .single-browse-house-details {
          border: 1px solid $footer-grey;
          border-top: none;
          padding: 10px;

          .rooms-and-bills {
            display: flex;
            justify-content: space-around;

            div {
              h4 {
                margin-bottom: 10px;
              }
              img {
                width: 30px;
              }
              p {
                display: inline-block;
                position: relative;
                top: -5px;
                margin-bottom: 2vh;
              }
            }
          }
          .browse-prices {
            display: flex;
            justify-content: space-around;
            h4 {
              margin-bottom: 10px;
            }

            p {
              margin-bottom: 2vh;
            }
          }
        }
      }
    }
  }
}

// footer
// MOBIL
.footer {
  width: 100vw;
  color: $footer-grey;
  background-color: $primary-brown;
  text-align: justify;
  padding-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  h2 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 0 15px;
  }

  .footer-form {
    padding: 0 15px;
    margin-bottom: 5vh;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    h3 {
      text-align: center;
      color: #539701;
    }
    label {
      display: inline-block;
      position: relative;
      top: -4px;
      font-size: 18px;
      a {
        color: $footer-grey;
      }
      a:visited {
        color: $footer-grey;
      }
    }

    input {
      height: 35px;
      background-color: #323232;
      font-size: 20px;
      color: white;
      width: 70%;
      margin-top: 10px;
    }

    .form-error {
      color: #e1251b;
      text-align: left;
      margin: 5px 0;
      font-size: 15px;
      font-weight: 600;
    }

    button {
      height: 35px;
      color: white;
      background-color: $primary-green;
      font-size: 15px;
      border: none;
      float: right;
      width: 29%;
      position: relative;
      top: 10px;
      max-width: 120px;
    }
  }
  .footer-links {
    border-top: 1px solid $footer-grey;
    text-align: justify;
    font-family: $Raleway;
    padding-bottom: 10vh;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url("https://res.cloudinary.com/dsdaneoq8/image/upload/v1619390570/domy/footer-image_vmnkt5.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 5vh;
    z-index: 1;

    .footer-links-group {
      margin-bottom: 4vh;
      width: 230px;
      h3 {
        font-size: 1.4rem;
        position: relative;
        margin-bottom: 3vh;
      }
      h3:after {
        content: "";
        position: absolute;
        bottom: -1.25rem;
        left: 1rem;
        width: 10rem;
        height: 0.4rem;
        background: $primary-green;
      }

      div {
        line-height: 1.5rem;
        letter-spacing: 0.04rem;
        a {
          text-decoration: none;
          color: white;
        }
        a:visited {
          color: white;
        }
      }
    }
  }
}

// TABLET 640px +

@media (min-width: 640px) {
  .footer {
    .footer-content {
      h2 {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
      }
      .footer-form {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .home {
    .home-top {
      height: 40vh;
    }
    .home-middle {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      h1 {
        font-size: 130px;
        margin: 0;
        text-align: center;
      }
      h2 {
        text-align: center;
        font-size: 35px;
        position: relative;
        top: -100px;
      }
      .home-presentation {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: -50px;
        div {
          max-width: 620px;
          flex-basis: 40%;
        }
      }
    }
  }
}

// ====================TABLET===================
@media (min-width: 768px) {
  // contact
  // TABLET
  .contact {
    max-width: 1920px;
    .contact-top {
      .contact-top-content {
        display: flex;

        div {
          h3 {
            font-size: 23px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }

    .contact-middle {
      h3 {
        font-size: 22px;
      }
      input {
        width: 350px;
      }
    }
  }

  // pool
  // TABLET
  .pool {
    .pool-top {
      height: 40vh;
    }

    .pool-middle {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .contact-middle {
        h3 {
          font-size: 22px;
        }
        input {
          width: 350px;
        }
      }
    }
    .pool-bottom {
      display: flex;
      justify-content: space-around;
      max-width: 1200px;
      align-items: baseline;
      .award {
        max-width: 400px;
        margin: 5vh auto;
      }
    }
  }

  //gardens
  // TABLET
  .gardens {
    .gardens-slide {
      height: 60vh;
      img {
        height: 60vh;
      }
      .gardens-slide-content {
        height: 25vh;
        width: 60vw;
      }
    }
    .garden-images {
      display: flex;
      flex-wrap: wrap;
      .thumbnail {
        width: 50vw;
      }
      .gallery-opened-large-image {
        height: 55vh;
      }
    }
  }

  //loading
  // TABLET
  .loading-wrapper:after {
    left: 45vw;
  }

  //navbar
  //TABLET
  .navbar {
    .burger {
      display: none;
    }
    .nav {
      height: 70px;
      max-width: 1200px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      justify-content: space-between;

      h1 {
        display: inline-block;
        padding-left: 20px;
        a {
          text-decoration: none;
          span {
            color: $primary-green;
          }
        }
        a:link,
        a:visited {
          color: black;
        }
      }
      ul {
        display: inline;
        width: 600px;
        li {
          display: inline;
          padding-bottom: 10px;
          a {
            text-decoration: none;
            width: 100px;
            font-size: 20px;
            font-weight: 700;
            padding: 0 15px;
          }
          a:link,
          a:visited {
            color: black;
          }
          &:hover {
            border-bottom: $primary-green solid 3px;
          }
        }
      }
    }
  }
  .home {
    .home-bottom {
      .home-bottom-stripe {
        padding-bottom: 300px;
        h2 {
          text-align: center;
        }
      }
      img {
        top: -290px;
        width: 100%;
        left: 0;
      }
      .home-bottom-last {
        top: -200px;
        h1 {
          text-align: center;
          font-size: 50px;
        }
        h2 {
          text-align: center;
        }
        .home-bottom-last-p {
          padding: 15px;
          h2 {
            font-size: 30px;
            margin: 1vh 0 3vh;
            margin: 0 auto;
          }
          p {
            margin: 0 auto;
            max-width: 500px;
          }
        }
      }
    }
  }
  // houses
  // TABLET
  .houses {
    .filter-and-sort {
      display: flex;
      justify-content: space-evenly;
    }
    .show-per-page-picker {
      left: 62vw;
    }
    .browse-wrapper {
      max-width: 1200px;
      margin: 0 auto;
      .browse-houses {
        display: flex;
        flex-wrap: wrap;
        .single-browse-house {
          width: 380px;

          .main-house-image {
            width: 380px;
          }
        }
      }
    }
  }

  // pergolas
  // TABLET
  .pergolas {
    .pergola-type {
      .main-image-part {
        height: 40vh;
        h1 {
          left: 10vw;
        }
      }
    }
  }
  .garden-info,
  .wood-info,
  .pergolas {
    h1,
    h2,
    p {
      max-width: 700px;
    }
    .gallery {
      display: flex;
      flex-wrap: wrap;
      .thumbnail {
        width: 50vw;
      }
      .gallery-opened-large-image {
        height: 55vh;
      }
    }
  }
}

// ==================PC===================

@media (min-width: 1000px) {
  .garden-info,
  .wood-info,
  .pergolas {
    .gallery {
      display: flex;
      flex-wrap: wrap;
      .thumbnail {
        width: 25vw;
      }

      .gallery-large-image {
        height: 90vh;
        z-index: 10;
        width: 80vw;
        top: 5vh;
        left: 10vw;
        .gallery-opened-large-image {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  // pergolas
  // TABLET
  .pergolas {
    .pergola-type {
      .main-image-part {
        height: 75vh;
      }
    }
  }

  // home
  // PC
  .home {
    overflow: hidden;
    .home-top {
      height: 75vh;
    }

    .home-bottom {
      height: 100vh;
      .home-bottom-stripe {
        display: flex;
        padding-right: 40vw;
        padding-bottom: 0;
        h2 {
          position: absolute;
          max-width: 60vw;
        }
        .home-bottom-text-paragraph {
          margin-top: 10vh;
        }
      }

      img {
        width: 710px;
        position: relative;
        left: 50vw;
        top: -305px;
      }

      .home-bottom-last {
        display: flex;
        top: -400px;
        h1 {
          position: absolute;
        }
        h2 {
          position: absolute;
          top: 75px;
        }
        .home-bottom-last-p {
          margin-top: 10vh;
          h1 {
            position: relative;
          }
          h2 {
            position: relative;
            margin: 2vh 0;
            top: 0;
          }
          p {
            max-width: 400px;
          }
        }
      }
    }
  }

  // garden
  // PC
  .gardens {
    .gardens-slide {
      max-width: 1200px;
      height: 70vh;
      margin: 0 auto 3vh;
      img {
        height: 70vh;
        max-width: 1200px;
      }
      .gardens-slide-content {
        height: 25vh;
        max-width: 600px;
      }
    }
    .garden-images {
      display: flex;
      flex-wrap: wrap;
      .thumbnail {
        width: 25vw;
      }

      .gallery-large-image {
        height: 90vh;
        z-index: 10;
        width: 80vw;
        top: 5vh;
        left: 10vw;
        .gallery-opened-large-image {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  // PC
  .pool {
    overflow: hidden;
    .pool-top {
      height: 75vh;
    }
  }
}

@media (min-width: 1500px) {
  .home {
    .home-bottom {
      img {
        width: 900px;
      }
    }
  }
}
